.article-container {
    margin: 25px;
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 0fr 1fr 0fr;
    grid-auto-columns: 1fr;
    gap: 5px 5px;
    grid-template-areas: 
    "articleImage articleTitle articleTitle"
    "articleImage articleData articleData"
    "articleBody articleBody articleBody"
    "addComment addComment addComment"
    "articleComments articleComments articleComments"; 
}

.articleImage {
    align-content: center;
    border-radius: 15px;
    grid-area: articleImage;
    border-radius: 15px;
    width: 100%;
}

.articleImage img {
    box-sizing: border-box;
    background-color: #333;
    padding: 15px;
    border-radius: 15px;
    max-width: 100%;
}

.articleTitle {
    padding: 15px;
    max-width: 100%;
    grid-area: articleTitle;
}

.articleData {
    padding: 15px;
    max-width: 100%;
    grid-area: articleData;
}

.articleBody {
    grid-area: articleBody;
}

.articleComments {
    grid-area: articleComments;
}

.addComment {
    grid-area: addComment;
    display: flex;
    justify-content: center;
    width: 100%;
}

@media (max-width: 760px) {
    .article-container {
        margin: 25px;
        display: flex;
        flex-direction: column;
    }

    .articleTitle {
        order: 1;
    }
    
    .articleImage {
        order: 2;
    }

    .articleData {
        order: 3;
    }
    
    .articleBody {
        order: 4;
    }

    .addComment {
        order: 5;
    }

    .articleComments {
        order: 6;
    }

}