.article-container {
    margin: 25px;
    display: grid;
    grid-template-columns: 40% 30% 30%;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
    /* grid-template-rows: 30% 30% 30% 10%; */
    grid-auto-columns: 1fr;
    gap: 5px 5px;
    grid-template-areas: 
    "articleImage articleData articleData"
    "articleImage articleData articleData"
    "articleBody articleBody articleBody"
    "addComment addComment addComment"
    "articleComments articleComments articleComments"; 
}

.articleImage {
    align-content: center;
    border-radius: 15px;
    grid-area: articleImage;
    border-radius: 15px;
    margin-right: 10px;
}

.articleImage img {
    background-color: #333;
    padding: 15px;
    border-radius: 15px;
    max-width: 100%;
}

.articleData {
    padding: 15px;
    max-width: 100%;
    grid-area: articleData;
}

.articleBody {
    grid-area: articleBody;
}

.articleComments {
    grid-area: articleComments;
}

.addComment {
    grid-area: addComment;
}