html {
    border: greenyellow solid 2px;
}

body {
    margin: 10px;
    border: blue solid 2px;
}

#root {
    margin: 10px;
    border: red solid 2px;
}

header {
    margin: 10px;
    border:green solid 2px;
}

.navbar {
    margin: 10px;
    border: purple solid 2px
}

.navbar-list {
    margin: 10px;
    border: pink solid 2px
}

.navbar-item {
    margin: 10px;
    border: rgb(153, 110, 117) solid 2px
}

.article-list {
    margin: 10px;
    border: rgb(235, 180, 189) solid 2px
}

.article-card {
    margin: 10px;
    border: rgb(87, 224, 105) solid 2px
}

.articleImage {
    margin: 10px;
    border: rgb(255, 157, 157) solid 2px
}

.articleImage img {
    margin: 10px;
    border: rgb(36, 190, 106) solid 2px
}

.articleData {
    margin: 10px;
    border: rgb(245, 75, 217) solid 2px
}

.articleBody {
    margin: 10px;
    border: rgb(190, 92, 12) solid 2px
}

.articleComments {
    margin: 10px;
    border: rgb(0, 175, 23) solid 2px
}

.addComment {
    margin: 10px;
    border: rgb(50, 214, 255) solid 2px
}

.comments-list {
    margin: 10px;
    border: rgb(50, 255, 170) solid 2px
}

.comment {
    border: rgb(90, 196, 4) solid 2px
}

.comment-form {
    border: rgb(90, 196, 4) solid 2px
}

.comment-form-group {
    margin: 15px;
    border-radius: 15px;
    border: rgb(14, 188, 231) solid 2px
}