html {
    border: greenyellow solid 2px;
}

body {
    margin: 10px;
    border: blue solid 2px;
}

#root {
    margin: 10px;
    border: red solid 2px;
}

header {
    margin: 10px;
    border:green solid 2px;
}

.navbar {
    margin: 10px;
    border: purple solid 2px
}

.navbar-list {
    margin: 10px;
    border: pink solid 2px
}

.navbar-item {
    margin: 10px;
    border: rgb(153, 110, 117) solid 2px
}

.article-list {
    margin: 10px;
    border: rgb(235, 180, 189) solid 2px
}

.article-card {
    margin: 10px;
    border: rgb(87, 224, 105) solid 2px
}

.articleImage {
    margin: 10px;
    border: rgb(255, 157, 157) solid 2px
}

.articleImage img {
    margin: 10px;
    border: rgb(36, 190, 106) solid 2px
}

.articleData {
    margin: 10px;
    border: rgb(245, 75, 217) solid 2px
}

.articleBody {
    margin: 10px;
    border: rgb(190, 92, 12) solid 2px
}

.articleComments {
    margin: 10px;
    border: rgb(0, 175, 23) solid 2px
}

.addComment {
    margin: 10px;
    border: rgb(50, 214, 255) solid 2px
}

.comments-list {
    margin: 10px;
    border: rgb(50, 255, 170) solid 2px
}

.comment {
    border: rgb(90, 196, 4) solid 2px
}

.comment-form {
    border: rgb(90, 196, 4) solid 2px
}

.comment-form-group {
    margin: 15px;
    border-radius: 15px;
    border: rgb(14, 188, 231) solid 2px
}

.list {
    margin: 15px;
    border: rgb(31, 126, 78) solid 2px
}

.card {
    margin: 15px;
    border: rgb(223, 209, 12) solid 2px
}

.home-button {
    border: rgb(219, 0, 219) solid 2px
}

.burger-menu {
    margin: 15px;
    border: rgb(255, 150, 255) solid 2px
}

.navbar-links {
    margin: 15px;
    border: rgb(219, 0, 219) solid 2px
}

.error-display {
    border: red solid 2px
}

#user-profile {
    margin: 15px;
    border: rgb(0, 89, 255) solid 2px
}

.profile-container {
    border: rgb(85, 229, 255) solid 2px
}

.account-username-header {
    border: rgb(130, 52, 255) solid 2px
}

.account-details {
    margin: 15px;
    border: rgb(18, 163, 5) solid 2px
}

.profile-picture-box {
    margin: 15px;
    border: rgb(207, 182, 247) solid 2px
}

.profile-picture {
    margin: 15px;
    border: rgb(255, 37, 182) solid 2px
}

.logout-button {
    border: rgb(250, 30, 30) solid 2px
}

.dropdown {
    border: rgb(250, 30, 30) solid 2px
}