.list {
    list-style-type: none;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
}

.card {
    width: 250px;
    background-color: #333;
    border-radius: 15px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 5px;
}

.card a {
    text-decoration: none;
    color: #fff;
}

.card img {
    width: 100%;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.card h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.card p {
    font-size: 0.9em;
    margin-bottom: 15px;
}

@media (max-width: 760px) {
    .card {
        width: 85%;
        height: auto;
    }
}