.comments-list {
    list-style: none;
    background-color: #333;
    border-radius: 15px;
    margin: 15px;
    padding: 5px;
    text-align: left;
}

.comment, .comment-deleting {
    background-color: #4e4e4e;
    border-radius: 15px;
    padding-left: 10px;
    margin: 5px;
}

.comment-element {
    padding: 2px;
}

h4 {
    margin: 0px;
}

.comment-delete {
    display:inline;
    flex: content;
    color: red;
    cursor: pointer;
}

.comment-deleting {
    opacity: 50%;
}

.login-message {
    padding-top: 15px;
}