.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    position: relative;
    border-radius: 10px;
    z-index: 10;
}

.home-button a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.home-button a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-links li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    transition: background-color 0.3s;
}

.navbar-links li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger-menu .bar {
    background-color: white;
    height: 3px;
    width: 25px;
    margin: 3px 0;
    transition: transform 0.3s ease;
}

@media screen and (max-width: 760px) {
    .burger-menu {
        display: flex;
        align-items: center;
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 30px;
        right: 0;
        background-color: #333;
        width: 200px;
        padding: 10px;
        gap: 15px;
        border-radius: 0 0 15px 15px;
        box-shadow: 0 10px 6px rgba(0, 0, 0, 0.3);
    }

    .navbar-links.nav-active {
        display: flex;
    }
}

.navbar-links li a {
    font-size: 1em;
    padding: 5px;
    text-align: center;
}